@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), local('Montserrat'), url(../fonts/Montserrat-Bold.ttf) format('sans-serif');
}

BODY {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

#transactions_tab {
    font-size: 10pt;
    text-align: center;
}

#transactions_tab IMG {
    float: right;
    width: 17px;
    height: 17px;
    margin-left: 5px;
}

#transactions_tab > .row {
    transition-duration: 150ms;
}

#transactions_tab > .row:HOVER {
    background-color: #fff8eb;
}

.windows_close {
    width: 35px;
    height: 22px;
    background-color: rgb(177, 177, 177);
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.windows_close:HOVER {
    background-color: rgb(255, 190, 39);
    cursor: pointer;
}

.windows_minimize {
    width: 35px;
    height: 22px;
    background-color: rgb(177, 177, 177);
    position: absolute;
    top: 0;
    right: 36px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.windows_minimize:HOVER {
    background-color: rgb(130, 130, 130);
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    display: block;
    margin: 45px auto;
    height: 145px;
}

.tab-content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 30px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 235px;
}

.dynamicbar {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 70px;
    left: 0;
    opacity: 0.25;
}

.tokens_list {
    width: 220px;
    height: 514px;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    position: absolute;
    top: 22px;
    display: block;
}

.token_obj {
    background-color: #f1f1f1;
    padding: 10px 5px;
    margin-bottom: 1px;
    cursor: pointer;
    height: 50px;
}


.token_obj .close {
    position: relative;
    left: -65px;
    top: -20px;
}


.token_obj IMG {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-top: 5px;
}

.token_obj H5 {
    float: right;
    font-size: 10pt;
    display: block;
    width: 165px;
    text-align: right;
    cursor: pointer;
}

.token_obj SPAN {
    width: 165px;
    height: 20px;
    font-size: 11pt;
    float: left;
    margin-top: 0px;
    cursor: pointer;
}


.token_obj:HOVER {
    background-color: #f9f9f9;
    cursor: pointer;
}

.main-container {
    display: block;
    position: absolute;
    border-left: 1px solid #bdbdbd;
    border-top: 1px solid #d2d2d2;
    left: 0px;
    top: 22px;
    height: 538px;
    width: 100%;
    float: right;
    background-color: #f7f7f7;
    opacity: 0;
    transition-duration: 250ms;
}

.main-container IMG {

}

.sendBtns {
    margin-top: 30px;
}

.draggable {
    width: 765px;
    height: 22px;
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.errorInfo {
    margin-top: 5px;
    display: none;
}

.portfolio {
    font-size: 11pt;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #bfbfbf;
    display: none;
}

.portfolio SPAN {}

.miniprice {
    font-size: 8pt;
}

.txidLink {
    margin-top: 10px;
    cursor: pointer;
    font-size: 11pt;
    font-weight: bold;
}

.coinBox {
    text-align: center;
}

.coinBox B {
    font-size: 42pt;
    display: block;
    font-weight: bold;
}

.coinBox SMALL {
    font-size: 23pt;
    color: #6f6f6f;
}

.myaddress {
    text-align: center;
    display: block;
    font-size: 17pt;
    margin: 40px 0;
    color: #f9a332;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
}

.options {
    margin-top: 30px;
}

.walletInput {
    margin-top: 30px;
}

#walletActions {
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #2583ff;
    opacity: 0.3;
    font-size: 35pt;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog {
    max-width: 590px !important;
    margin-top: 14vh;
}

.updateLoader {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
}

.updateLoader .progress {
    height: 6px;
    border-radius: 0;
}

.updateLoader .progress-bar {
    transition: width 5s ease;
}

#progress_token_load {
    background-color: #f7ba10!important;
}

.about {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #bdbdbd;
    cursor: pointer;
    font-size: 8pt;
}

.btn {
    border-radius: 0;
}

.myaddress {
    cursor: pointer;
}

.nav-tabs a {
    color: #d69637;
    font-size: 12pt;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

button {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: 1px solid transparent;
}

button:focus,
button:active{
    outline:none;
}

.btn:focus,
.btn:active{
    outline:none;
}

.btn-primary {
    background-color: #523e21;
    text-shadow: 1px 1px 0px black;
    border: 1px solid #171109;
    cursor: pointer;
}

.btn-primary:HOVER {
    background-color: orange;
    border: 1px solid #da863c;
}

.fixed_btn {
    width: 105px;
}

.transaction_box {
    background-color: rgba(0, 255, 0, 0.07);
    padding: 2px 0;
    margin: 0 -6px;
    height: 50px;
}

.transaction_box_neg {
    background-color: rgba(255, 23, 0, 0.04);
    padding: 2px 0;
    margin: 0 -6px;
    height: 50px;
}

.transaction_box_misc {
    background-color: white;
    padding: 2px 0;
    margin: 0 -6px;
    height: 50px;
}

.pendingFlash{
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}


.fadeInEach {
    display: none;
}


.small_txt {
    font-size: 8pt;
}

.view_tx_btn {
    height: 20px;
    padding: 2px 5px;
    font-size: 8pt;
    background-color: #616161;
    color: white;
}

.left_navs {
    margin: 0px 0;
    padding: 0;
}

.left_navs .nav-item {
    padding: 0;
}

.nav-item A {
    cursor: pointer;
}

.left_navs a {
    height: 40px;
    width: 100%;
    margin: 0;
    padding-top: 9px;
    font-size: 10pt;
    text-align: center;
    border-radius: 0 !important;
}

#left_tabs {
    padding: 5px;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 472px;
}


#qrcode_img {
    display: block;
    margin: 0 auto;
    width: 225px;
}


.mini_icon {
    width: 17px;
    height: 17px;
    margin-left: 5px;
    margin-bottom: 3px;
}


.settings_icon {
    position: absolute;
    width: 13px;
    display: block;
    opacity: 0.4;
    bottom: 6px;
    left: 200px;
    display: none;
}

.settings_icon:HOVER {
    opacity: 0.8;
    cursor: pointer;
}

.settings_page {
    background-color: #f3f3f3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 23px;
    z-index: 2;
}

.qr_icon {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0.3;
}

.qr_icon:HOVER {
    opacity: 1;
}

.block_number {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 12pt;
    color: #dadada;
    transition-duration: 100ms;
}

.transaction_view {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    position: absolute;
    z-index: 9;
    overflow-y: scroll;
}


.transaction_view .close {
    position: absolute;
    top: 0;
    right: 20px;
    color: rgb(236, 175, 26);
    opacity: 1;
    font-size: 25pt;
}

.close SPAN {
    cursor: pointer;
}

.popup_notifications {
    width: 100%;
    height: 60px;
    margin-top: -85px;
    background-color: rgb(252, 204, 65);
    position: absolute;
    padding: 18px 0;
    font-size: 12pt;
    overflow: hidden;
    transition:margin-top 0.3s ease-out;
    z-index: 9999999;
}

#tokens_loading_msg {
    font-size: 8pt;
    width: 100%;
    display: block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(251, 176, 60, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 174, 58, 0.6);
    outline: 0 none;
}


:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}